appdirs==1.4.3
Django==1.8.6
django-haystack==2.6.0
django-taggit==0.17.1
elasticsearch==5.2.0
gunicorn==19.7.1
Markdown==2.6.2
packaging==16.8
pyparsing==2.2.0
pysolr==3.3.2
pytz==2016.10
requests==2.13.0
six==1.10.0
urllib3==1.26.5
